# Binaries
*.exe
*.dll
*.so
*.dylib

# Dependency directories
/bin/
/pkg/
/vendor/
/build/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Local configuration files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db